################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/.git
*/obj
*/bin
*/Debug
*/Release
*.user
